.logo__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: relative;
    width: calc(100% - 32px);
    padding: 0 16px;
    h2 {
        margin: 0;
        color: #373F8F;
        font-size: 20px;
    }
    .logo {
        width: 100%;
        display: flex;
        .logo__toggle {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
        }
    }
    .btn__area {
        height: 20px;
        transition: all .3s ease-in-out;
    }
    .btn__area.active {
        transform: rotateX(180deg)
    }
    .btn__menu {
        background-color: transparent;
        height: 100%;
        border: none;
        position: absolute;
        top: -10px;
        right: 16px;
        cursor: pointer;
    }
}