.menu {
  position: absolute;
  width: 100%;
  top: 101px;
  left: -100%;
  transition: all .4s ease-in-out;
  z-index: 4;
  ul {
    &:first-child {
      padding-top: 0px;
    }
    li {
      margin: 0 8px;
      padding: 4px;
      width: calc(100% - 16px - 8px);
      border-bottom: 1px solid #ccc;
    }
  }
}

.open {
  min-height: calc(100vh - 102px);
  background: white;
  left: 0;
}