.menu {
    width: calc(100% - 48px);
    padding: 0 24px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    opacity: 1;
    .active {
        color: #373F8F;
        font-weight: 700;
    }
}

.open {
    opacity: 0;
    pointer-events: none;
}