.item {
  width: calc(33.3% - 40px);
  aspect-ratio: 1/1 auto;
  margin: 10px 20px;
  cursor: pointer;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 16px;
  }
}

@media (max-width: 576px) {
  .item {
    width: calc(100% - 40px);
  }
}