.animal {
  display: flex;
  width: calc(25% - 32px);
  padding: 0px 16px 16px;
  cursor: pointer;
  .info {
    width: 100%;
    height: 100%;
    p {
      margin: 10px 0;
      width: 100%;
      color: #373F8F;
      text-align: center;
      font-size: 20px;
    }
    .photo {
      width: 100%;
      aspect-ratio: 1/1 auto;
      border-radius: 50%;
      border: 1px solid #ddd;
      // background-color: #f1f3f5;
      position: relative;
      div {
        &:first-child {
          position: absolute;
          top: 5%;
          left: 5%;
        }
      }
      .gender {
        position: absolute;
        top: 5%;
        left: 5%;
      }
      .card {
        border-radius: 50%;
      }
    }
  }
}

.open {
  cursor: auto;
}
